{% extends 'base.html'%}
{% load static %}
{% load i18n %}

{% block content %}
<!-- Sign up form template taken from lens-whisperer project -->
<div class="container shadow rounded bg-white p-6 my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <!-- <div class="card"> -->
      <div class="card-body">
        <h1 class="card-title text-center">{% trans "Sign Up" %}</h1>
        <p class="text-center">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign
            in</a>.{% endblocktrans %}</p>
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="d-grid">
            <button type="submit" class="btn btn-info mb-2 me-2">{% trans "Sign Up" %} </button>
          </div>
      </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}