{% extends 'base.html' %}
{% load static %}

{% block title %}Portfolio Page{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Portfolio</h1>
    <div class="row">
        {% for item in portfolio %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="portfolio-media">
                        <img src="{{ item.media.url }}" class="img-fluid rounded" alt="{{ item.title }}">
                    </div>
                    <h2 class="card-title mt-3">{{ item.title }}</h2>
                    <p class="card-text">{{ item.description }}</p>
                    <!-- <button onclick="likePortfolio('{{ item.id }}')" class="btn">Like</button> -->
                    <a href="javascript:void(0);" onclick="likePortfolio({{ item.id }})" class="btn">
                        <i class="fas fa-heart"></i>
                    </a>
                    <p>Likes: <span id="likes-{{ item.id }}">{{ item.likes }}</span></p>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% empty %}
        <p class="text-center">No portfolio items to display.</p>
        {% endfor %}
    </div>
</div>

<script>
    function likePortfolio(portfolioId) {
        fetch(`/portfolio/like/${portfolioId}/`)
            .then(response => response.json())
            .then(data => {
                document.getElementById(`likes-${portfolioId}`).textContent = data.likes;
            })
            .catch(error => console.error('Error:', error)); 
    }
</script>
{% endblock %}