{% extends 'base.html' %}
{% load static %}

{% block title %}Portfolio Page{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Portfolio</h1>
    <div class="row">
        {% for item in portfolio %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="portfolio-media">
                        <img src="{{ item.media.url }}" class="img-fluid rounded" alt="{{ item.title }}">
                    </div>
                    <h2 class="card-title mt-3">{{ item.title }}</h2>
                    <p class="card-text">{{ item.description }}</p>
                    <!-- <p><i class="fas fa-heart"></i><span id="likes-{{ item.id }}">{{ item.likes }}</span></p> -->
                    {% if user.is_authenticated %}
                    <form method="post" action="{% url 'like_portfolio' item.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            {% if item.portfolio_likes.all %}
                            <i class="fa-solid fa-heart"></i>
                            {% else %}
                            <i class="fa-regular fa-heart"></i>
                            {% endif %}
                        </button>
                        <span id="likes-{{ item.id }}">{{ item.likes }}</span>
                    </form>
                    {% else %}
                    <button class="btn" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top"
                        data-bs-content="Please login or register to like this post">
                        <i class="fas fa-heart"></i>
                    </button>
                    <span id="likes-{{ item.id }}">{{ item.likes }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% empty %}
        <p class="text-center">No portfolio items to display.</p>
        {% endfor %}
    </div>
</div>
<div class="d-flex justify-content-center">
    <a href="{% url 'about' %}" class="btn btn-info mb-2 me-2"><em>Home</em></a>
    <a href="{% url 'services' %}" class="btn btn-info mb-2"><em>Services</em></a>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));
    });
</script>

<script src="https://kit.fontawesome.com/c03f260391.js" crossorigin="anonymous"></script>

{% endblock %}