{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        <div class="py-4">
            {{ form.as_p}}
        </div>
        {% if form.errors or form.non_field_errors %}
        <div class="mb-3 p-6 bg-red-100 rounded-xl">
            {% for field in form %}
            {{ field.errors }}
            {% endfor %}
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <button type="submit" class="btn btn-info mb-2 ms-2"><em>Submit</em></button>
        <a href="{% url 'testimonial' %}" class="btn btn-info mb-2 ms-2"><em>Back to Testimonials</em></a>
    </form>
</div>

{% endblock %}