{% extends 'base.html' %}
{% load static %}

{% block title %}Testimonial Page{% endblock %}

{% block content %}

<!-- CI LMS template starts here -->
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>Testimonials</h1>
                </div>
            </div>
            <div class="row">
                <!-- Testimonial Entries Column -->
                <div class="col-12 mt-3 left">
                    <div class="row">
                        {% for testimonial in testimonials %}
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="image-container">
                                    </div>
                                    <h2 class="card-title">{{ testimonial.title }}</h2>
                                    <p class="card-text">{{ testimonial.text }}</p>
                                    <hr />
                                    <div class="image-flash">
                                        <p class="author">By {{ testimonial.user.username }}</p>
                                    </div>
                                    <p class="card-text text-muted h6">{{ testimonial.posted_on }}</p>
                                    <a href="{% url 'testimonial-detail' testimonial.id %}" class="btn btn-info">View Details</a>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <div class="row">
                        {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
<div class="col-12 text-center">
    <p>Want to leave a testimonial? Click the button below!</p>
    <a href="{% url 'new-testimonial' %}" class="btn"><em>Write a Testimonial</em></button>
</div>
{% endblock %}

