{% extends 'base.html' %}

{% block title %}User Dashboard{% endblock %}

{% block content %}
<div class="container">
    <h2>My Testimonials</h2>
    <div class="row">
        {% for testimonial in user_testimonials %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ testimonial.title }}</h2>
                    <p class="card-text">{{ testimonial.text|truncatewords:20 }}</p>  <!-- Display a snippet of the text -->
                    <p class="text-muted">Posted on: {{ testimonial.posted_on }}</p>
                    <a href="{% url 'testimonial-details' %}" class="btn btn-info">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
