{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="col-12 text-center">
        <h1>About Sharp Sound & Vision</h1>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'images/helena gs.webp' %}" class="img-fluid rounded mb-3" alt="Portrait Image">
        </div>
        <div class="col-md-8">
            <p>
                Hello I'm Helena, the founder of Sharp Sound & Vision, where I turn creative visions into reality.
                My passion for storytelling began at York University, where I studied film and discovered my love for
                production, editing, and directing. With a degree in hand and a heart full of dreams, I started Sharp
                Sound & Vision, a media creation business dedicated to producing high-quality content.
            </p>
            <p>
                I believe that nature is a powerful source of inspiration. In my spare time, you'll find me exploring
                the great outdoors, whether it's hiking through forests or simply enjoying a quiet moment by a stream.
                This connection to nature fuels my creativity and adds a unique touch to my work.
            </p>
            <p>
                One of the most rewarding aspects of my career is helping others achieve projects they can be proud of.
                I love collaborating with clients, mentoring aspiring filmmakers, and supporting community initiatives.
                Seeing others succeed and knowing I played a part in their journey is incredibly fulfilling.
            </p>
            <p>
                Through Sharp Sound & Vision, I strive to push the boundaries of creativity and storytelling. My goal is
                to make a lasting impact in the media creation industry, one project at a time.
            </p>
            <div class="text-center">
            <a href="{% url 'portfolio' %}" class="btn btn-info mb-2"><em>Check out our work here</em></a>
            <a href="{% url 'services' %}" class="btn btn-info mb-2"><em>Learn more about our services</em></a>
            <a href="{% url 'testimonial' %}" class="btn btn-info mb-2"><em>Fancy leaving a testimonial?</em></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}